<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Components - Maribeth Romslo's Web Dev Case Study of We Are Breakfast</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap" rel="stylesheet">

</head>
<body>
  <!-- Components -->

    <h1>Web Components</h1>

        <h2 class="component__section_name">Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">Equip-Thin (but using close comp Montserrat for accessibility of font library) </h3>

                <h4 class="component_description">Tagline above bacon (weight 100, size 65px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_AboveBaconTagline.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_AboveBaconTagline.png 2x">
                </div>

                <h4 class="component_description">Tagline under rose finger (weight 100, size 65px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_BelowRoseTagline.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_BelowRoseTagline.png 2x">
                </div>

                <h4 class="component_description">Footer address, email, socials (weight 100, size 14px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_FooterAddressSocialsEmail.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_FooterAddressSocialsEmail.png 2x">
                </div>

                <h4 class="component_description">Footer copyright (weight 100, size 12px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_FooterCopyright.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_FooterCopyright.png 2x">
                </div>
        </article>

        <article class="component">
            <h3 class="component__name">Equip-Medium (but using close comp Montserrat for accessibility of font library) </h3>

                <h4 class="component_description">Footer navigation (weight 500, size 20px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_Footer_Menu.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_Footer_Menu.png 2x">
                </div>

                <h4 class="component_description">Footer column headers (weight 500, 14px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_FooterColumnHeaders.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_FooterColumnHeaders.png 2x">
                </div>
        </article>

        <article class="component">
            <h3 class="component__name">Equip-Regular (but using close comp Montserrat for accessibility of font library) </h3>

                <h4 class="component_description">Tagline in wave (weight 400, size 10px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_Homepage_Tagline.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_Homepage_Tagline.png 2x">
                </div>
        </article>

        <article class="component">
            <h3 class="component__name">Equip-Bold (but using close comp Montserrat for accessibility of font library) </h3>

                <h4 class="component_description">Navigation bar items (weight 700, size 18px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_About_NavBar.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_About_NavBar.png 2x">
                </div>

                <h4 class="component_description">Work animation (weight 700, size 70px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_WorkText.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_WorkText.png 2x">
                </div>

                <h4 class="component_description">Latest Work ticker (weight 700, size 20px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_TickerText.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_TickerText.png 2x">
                </div>

                <h4 class="component_description">Get In Touch animation (weight 700, size 70px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_GetInTouchText.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_GetInTouchText.png 2x">
                </div>
        </article>

    <h2 class="component__section_name">Components</h2>

    <!-- Header Nav Bar -->

        <div class="navigation">
            <h4 class="navigation__description">Header Nav Bar</h4>
            <div class="navigation__code">
            <header>
                <nav>
                  <ul>
                    <li><a href="https://wearebreakfast.com/latest-work">Latest Work</a></li>
                    <li><a href="https://wearebreakfast.com/about">About</a></li>
                    <li><a href="https://wearebreakfast.com/services">Services</a></li>
                    <li><a href="#">License Tracks</a></li>
                    <li><a href="https://wearebreakfast.com/contact">Contact</a></li>
                  </ul>
                </nav>
              </header>
            </div>
        </div>

    <!-- Breakfast Hero Images -->

    <h4 class="hero-container__description">Hero Container + Tagline Wave + About Sections</h4>

    <div class="hero-container">

      <div class="hero__skybackground">

        <img class="hero__background"
            src="img/WeAreBreakfastFiles/sky@2x.jpg"
            alt="fantasy sky sunset"
            srcset="img/WeAreBreakfastFiles/sky@2x.jpg 2x">
      
      </div>

      <!-- Reflections (lower layer) -->

        <img class="hero__reflections"
          src="img/WeAreBreakfastFiles/reflections.png"
          alt="reflection of hills"
          srcset="img/WeAreBreakfastFiles/reflections.png 2x">
    
      <!-- Hills (higher layer than reflections) -->
        <img class="hero__hills"
          src="img/WeAreBreakfastFiles/hills.png"
          alt="hills" 
          srcset="img/WeAreBreakfastFiles/hills.png 2x">
    
      <!-- Gold Dial (behind egg) -->
        <img class="hero__golddial"
          src="img/WeAreBreakfastFiles/dial-gold.png"
          alt="gold dial"
          srcset="img/WeAreBreakfastFiles/dial-gold.png 2x">
    
      <!-- Egg (in front of dial) -->
        <img class="hero__egg"
          src="img/WeAreBreakfastFiles/egg-1.png"
          alt="fried egg"
          srcset="img/WeAreBreakfastFiles/egg-1.png 2x">
    
      <!-- Tape (above reflections, but below egg/dial) -->
        <img class="hero__cassettetape"
          src="img/WeAreBreakfastFiles/tape.png"
          alt="cassette tape"
          srcset="img/WeAreBreakfastFiles/tape.png 2x">
    
      <!-- Switch and Sign (sitting on top of hills, under egg balloon) -->
        <img class="hero__switch"
          src="img/WeAreBreakfastFiles/switch.png"
          alt="switch"
          srcset="img/WeAreBreakfastFiles/switch.png 2x">
      
        <img class="hero__sign"
          src="img/WeAreBreakfastFiles/sign-1.png"
          alt="breakfast sign"
          srcset="img/WeAreBreakfastFiles/sign-1.png 2x">
    
      <!-- Raspberries (over reflections, under egg balloon) -->
        <img class="hero__raspberry1"
          src="img/WeAreBreakfastFiles/raspberry-1.png"
          alt="raspberry"
          srcset="img/WeAreBreakfastFiles/raspberry-1.png 2x">

        <img class="hero__raspberry2" 
          src="img/WeAreBreakfastFiles/raspberry-2.png"
          alt="raspberry"
          srcset="img/WeAreBreakfastFiles/raspberry-2.png 2x">
      
        <img class="hero__raspberry3" 
          src="img/WeAreBreakfastFiles/raspberry-3.png" 
          alt="raspberry" 
          srcset="img/WeAreBreakfastFiles/raspberry-3.png 2x">
    
      <!-- Logo -->
        <img class="hero__logo"
          src="img/WeAreBreakfastFiles/logo.png"
          alt="logo featuring the word breakfast"
          srcset="img/WeAreBreakfastFiles/logo.png">
    
      <!-- Egg Balloon (floating above everything) -->
        <img class="hero__eggballoon"
          src="img/WeAreBreakfastFiles/egg-balloon.png"
          alt="hot air balloon made of an eggshell"
          srcset="img/WeAreBreakfastFiles/egg-balloon.png 2x">
    
    </div>
  

    <!-- Tagline Wave -->

    <div class="tagline-gradient-background">

      <section class="tagline-wave">
        <div class="pink-noodle-container">
                
            <div class="tagline-wave__text">
              <h2 class="tagline-remixing">
              BREAKFAST IS REMIXING THE INGREDIENTS OF THE TRAILER MUSIC WORLD.
              </h2>

        </div>

        <img class="hero__hungry-sticker"
          src="img/WeAreBreakfastFiles/hungry-for-more-sticker.png"
          alt="gold shiny sticker that reads hungry for more?"
          srcset="img/WeAreBreakfastFiles/hungry-for-more-sticker.png 2x">
          
      </section>

    
    <!-- About with Bacon and Drumsticks -->

        <section class="about">
          
          <h2 class="tagline-reprogrammed">WE'VE PULLED THE BEST HIP HOP, INDIE, AND ROCK PRODUCERS FROM THE RECORD BUSINESS AND REPROGRAMMED THEM FOR THE TRAILER MUSIC WORLD.</h2>

          <div class="about-images">

            <img class="hero__bacon"
              src="img/WeAreBreakfastFiles/bacon.png"
              alt="bacon"
              srcset="img/WeAreBreakfastFiles/bacon.png 2x">

            <img class="hero__drumhands"
              src="img/WeAreBreakfastFiles/hands.png"
              alt="hands holding drumsticks"
              srcset="img/WeAreBreakfastFiles/hands.png 2x">  

          </div>  

        </section>
    </div>

     <!-- Work Section -->
        
     <h4 class="work__description">Work + Contact Sections</h4>

     <div class="work-contact-gradient-background">

        <section class="work">

          <h2 class="work-heading">
            <span class="work-item1">WORK</span><br>
            <span class="work-item2">WORK</span><br>
            <span class="work-item3">WORK</span><br>
            <span class="work-item4">WORK</span><br>
          </h2>
            
            <div class="work-header-images">

              <img class="work-item__rosedonut" 
                src="img/WeAreBreakfastFiles/rose.png" 
                alt="rose with a donut around stem"
                srcset="img/WeAreBreakfastFiles/rose.png 2x">

              <img class="work-item__hand" 
                src="img/WeAreBreakfastFiles/hand.png" 
                alt="finger pointing"
                srcset="img/WeAreBreakfastFiles/hand.png 2x">

            </div>

            <h2 class="tagline-our-sound">Our sound is unlike anything else because we're not using everyone else.</h2>
            
            <div class="ticker-container">
              <p class="latest-work-ticker">
                LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK
              </p>
            </div>

              <div class="work-grid">
                <div class="work-track">
                
                  <!-- First 6 posters-->
                <div class="work-item">
                  <img class="work-item__tenet"
                      src="img/WeAreBreakfastFiles/tenet-poster-breakfast.jpeg"
                      alt="Tenet movie poster"
                      srcset="img/WeAreBreakfastFiles/tenet-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__lupin"
                      src="img/WeAreBreakfastFiles/lupin-netflix-poster-breakfast.jpeg"
                      alt="Lupin movie poster"
                      srcset="img/WeAreBreakfastFiles/lupin-netflix-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__blackladysketchshow"
                      src="img/WeAreBreakfastFiles/a-black-lady-sketch-show-poster-breakfast.jpeg"
                      alt="Black Lady Sketch Show movie poster"
                      srcset="img/WeAreBreakfastFiles/a-black-lady-sketch-show-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__falconwintersoldier"
                      src="img/WeAreBreakfastFiles/falcon-winter-soldier-poster-breakfast.jpeg"
                      alt="Falcon Winter Soldier movie poster"
                      srcset="img/WeAreBreakfastFiles/falcon-winter-soldier-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__chaoswalking"
                      src="img/WeAreBreakfastFiles/chaos-walking-poster-breakfast.jpeg"
                      alt="Chaos Walking movie poster"
                      srcset="img/WeAreBreakfastFiles/chaos-walking-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__moonknight"
                      src="img/WeAreBreakfastFiles/moonknight-poster-breakfast.jpeg"
                      alt="Moonknight movie poster"
                      srcset="img/WeAreBreakfastFiles/moonknight-poster-breakfast.jpeg 2x">
                </div>

                <!-- Second 6 posters-->

                <div class="work-item">
                  <img class="work-item__moonknight"
                      src="img/WeAreBreakfastFiles/moonknight-poster-breakfast.jpeg"
                      alt="Moonknight movie poster"
                      srcset="img/WeAreBreakfastFiles/moonknight-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__chaoswalking"
                      src="img/WeAreBreakfastFiles/chaos-walking-poster-breakfast.jpeg"
                      alt="Chaos Walking movie poster"
                      srcset="img/WeAreBreakfastFiles/chaos-walking-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__falconwintersoldier"
                      src="img/WeAreBreakfastFiles/falcon-winter-soldier-poster-breakfast.jpeg"
                      alt="Falcon Winter Soldier movie poster"
                      srcset="img/WeAreBreakfastFiles/falcon-winter-soldier-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__blackladysketchshow"
                      src="img/WeAreBreakfastFiles/a-black-lady-sketch-show-poster-breakfast.jpeg"
                      alt="Black Lady Sketch Show movie poster"
                      srcset="img/WeAreBreakfastFiles/a-black-lady-sketch-show-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__lupin"
                      src="img/WeAreBreakfastFiles/lupin-netflix-poster-breakfast.jpeg"
                      alt="Lupin movie poster"
                      srcset="img/WeAreBreakfastFiles/lupin-netflix-poster-breakfast.jpeg 2x">
                </div>

                <div class="work-item">
                  <img class="work-item__tenet"
                      src="img/WeAreBreakfastFiles/tenet-poster-breakfast.jpeg"
                      alt="Tenet movie poster"
                      srcset="img/WeAreBreakfastFiles/tenet-poster-breakfast.jpeg 2x">
                </div>
              </div>
            </div>

            <div class="ticker-container">
              <p class="latest-work-ticker">
                LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK&nbsp;&nbsp;LATEST WORK
              </p>
            </div>  
            
      </section>

    <!-- Get In Touch -->
      

        <section class="contact">

          <h2 class="contact-heading">
            <span class="contact-item1">GET IN TOUCH</span><br>
            <span class="contact-item2">GET IN TOUCH</span><br>
            <span class="contact-item3">GET IN TOUCH</span><br>
            <span class="contact-item4">GET IN TOUCH</span><br>
          </h2>

          <div class="contact-images">
            <img class="contact__diver"
              src="img/WeAreBreakfastFiles/diver.png" 
              alt="retro diver in a bathing suit"
              srcset="img/WeAreBreakfastFiles/diver.png 2x">
            
            <img class="contact__handmug"
              src="img/WeAreBreakfastFiles/hand-mug.png" 
              alt="hand holding an orange mug"
              srcset="img/WeAreBreakfastFiles/hand-mug.png 2x">

            <img class="contact__hollywood"
              src="img/WeAreBreakfastFiles/hollywood.png" 
              alt="Hollywood hills"
              srcset="img/WeAreBreakfastFiles/hollywood.png 2x">
          </div>
        </section>

      </div>

    <!-- Footer -->

      <h4 class="footer__description">Footer Section</h4>

          <footer class="footer">
            <div class="footer-inner">
              <div class="footer-left">
                <div class="logo">b</div>
                <ul class="footer-nav">
                  <li><a href="#">Latest Work</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">License Tracks</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
              <div class="footer-right">
                <div class="footer-col">
                  <h4>Studio</h4>
                  <p>
                    Breakfast Studios<br>
                    1500 S Ogden Drive<br>
                    LA, Ca, 9019
                  </p>
                </div>
                <div class="footer-col">
                  <h4>Get In Touch</h4>
                  <p><a href="mailto:info@wearebreakfast.com">info@wearebreakfast.com</a></p>
                </div>
                <div class="footer-col">
                  <h4>Socials</h4>
                  <p>
                    <a href="https://www.instagram.com/breakfastsounds/">Instagram</a><br>
                    <a href="https://vimeo.com/user107052138">Vimeo</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="footer-copy">
                <p>©2025 BREAKFAST. All rights reserved.</p>
                <p>No part of this website may be reproduced without permission.</p>
              </div>
              <div class="footer-credits">
                <p>Design &amp; Branding <strong>Studio 315</strong></p>
                <p>Development <strong>Thousand Lines</strong></p>
              </div>
            </div>
          </footer>
</body>
</html>
