<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Components - Maribeth Romslo's Web Dev Case Study of We Are Breakfast</title>
    <link rel="stylesheet" href="../css/main.css">

</head>
<body>
    <h1>Web Components</h1>

        <h2 class="component__section_name">Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">Equip-Thin</h3>

                <h4 class="component_description">Tagline above bacon (weight 100, size 65px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_AboveBaconTagline.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_AboveBaconTagline.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>

                <h4 class="component_description">Tagline under rose finger (weight 100, size 65px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_BelowRoseTagline.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_BelowRoseTagline.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>

                <h4 class="component_description">Footer address, email, socials (weight 100, size 14px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_FooterAddressSocialsEmail.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_FooterAddressSocialsEmail.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>

                <h4 class="component_description">Footer copyright (weight 100, size 12px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_FooterCopyright.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_FooterCopyright.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>
        </article>

        <article class="component">
            <h3 class="component__name">Equip-Medium</h3>

                <h4 class="component_description">Footer navigation (weight 500, size 20px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_Footer_Menu.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_Footer_Menu.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>

                <h4 class="component_description">Footer column headers (weight 500, 14px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_FooterColumnHeaders.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_FooterColumnHeaders.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>
        </article>

        <article class="component">
            <h3 class="component__name">Equip-Regular</h3>

                <h4 class="component_description">Tagline in wave (weight 400, size 10px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_Homepage_Tagline.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_Homepage_Tagline.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>
        </article>

        <article class="component">
            <h3 class="component__name">Equip-Bold</h3>

                <h4 class="component_description">Navigation bar items (weight 700, size 18px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_About_NavBar.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_About_NavBar.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>

                <h4 class="component_description">Work animation (weight 700, size 70px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_WorkText.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_WorkText.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>

                <h4 class="component_description">Latest Work ticker (weight 700, size 20px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_TickerText.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_TickerText.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>

                <h4 class="component_description">Get In Touch animation (weight 700, size 70px)</h4>
                <div class="component__image">
                    <img 
                        src="img/WeAreBreakfast_GetInTouchText.png" alt="Website typography example"
                        srcset="img/WeAreBreakfast_GetInTouchText.png 2x">
                </div>
                <div class="component__code">Code Goes Here</div>
        </article>

    <h2 class="component__section_name">Components</h2>

    <!-- Header Nav Bar -->

    <article class="component">
        <div class="component__navigation">
            <h4 class="component_description">Header Nav Bar</h4>
            <div class="component__code">
            <header>
                <nav>
                  <ul>
                    <li><a href="#">Latest Work</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">License Tracks</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </nav>
              </header>
            </div>
        </div>
    </article>

    <!-- Breakfast Hero Images -->

    <!-- Tagline Wave -->

        <section class="hero">
            <h1>BREAKFAST IS REMIXING THE INGREDIENTS<br>OF THE TRAILER MUSIC WORLD.</h1>
          </section>
    
    <!-- About with Bacon and Drumsticks -->
          <section class="about">
            <h2>We've pulled the best hip hop, indie, and rock producers from the record business and reprogrammed them for the trailer music world.</h2>
          </section>

     <!-- Work Section -->
        
          <section class="work">
            <h2>Our sound is unlike anything else because we're not using everyone else.</h2>
            <p class="latest-work-ticker">Latest Work Latest Work Latest Work</p>
            <div class="work-grid">
              <div class="work-item">Project 1</div>
              <div class="work-item">Project 2</div>
              <div class="work-item">Project 3</div>
              <div class="work-item">Project 4</div>
            </div>
          </section>

    <!-- Get In Touch -->
        
        <section class="contact">
        <h2>Get in Touch</h2>

    <!-- Footer -->

        <footer>
            B Logo

            <ul>
                <li><a href="#">Latest Work</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">License Tracks</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <ul>
                <li>Studio</li>
                <li>Breakfast Studios</li>
                <li>1500 S Ogden Drive</li>
                <li>LA, CA, 9019</li>
            </ul>

            <ul>
                <li>Get In Touch</li>
                <li> <a href="mailto:info@wearebreakfast.com">info@wearebreakfast.com</a></li>
            </ul>

            <ul>
                <li>Socials</li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Vimeo</a></li>
            </ul>

            <ul>
                <li>©2025 BREAKFAST. All rights reserved.</li>
                <li>No part of this website may be reproduced without permission.</li>
            </ul>

            <ul>
                <li>Design & Branding: Studio 315</li>
                <li>Development: Thousand Lines</li>
            </ul>
          </footer>
</body>
</html>
